<!DOCTYPE html>
<!-- saved from url=(0047)http://canal.corujaedu.com.br/acessar/index.php -->
<html class="login-bg gt-ie8 gt-ie9 not-ie login-content" dir="ltr" lang="pt-br" xml:lang="pt-br">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta property="og:title" content="Canal Coruja Educação">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Canal Coruja Educação">
    <meta property="og:site_name" content="Canal Coruja Educação">
    @*editar*@
    <meta property="og:url" content="http://canal.corujaedu.com.br">
    <meta property="og:image" content="http://canal.corujaedu.com.br/theme/image.php?theme=corujaedu&amp;component=theme&amp;image=logo">
    @*end*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    @*editar corujinha local*@
    <link rel="shortcut icon" href="http://canal.corujaedu.com.br/theme/image.php?theme=corujaedu&amp;component=theme&amp;image=favicon">
    @*end*@

    <title>@ViewBag.Title - Canal Coruja Educação</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />

</head>

<body class="enable-animations">
    <div id="document" class="document">

        <!-- HEADER ================================= -->
        <header id="header" class="header-section section section-dark navbar navbar-fixed-top">

            <nav class="navbar-header">

                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"> MENU <span class="fa fa-bars"></span></button>
                @*alterar*@
                <a class="navbar-logo navbar-brand" href="http://canal.corujaedu.com.br/acessar/index.php#">
                    @*end*@
                    <img id="logo_img" src="~/Content/CorujaImages/logo-coruja.png" alt="Coruja Educação" width="240" height="65">
                </a>
            </nav>

            <div class="container navbar-container">

                <nav class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">

                        <li class="active">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "header" })</li>
                        <li class="active">
                            <a class="dropdown-toggle header" data-toggle="dropdown" href="#">Produtos<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Avaliações", "Produtos", "Home", null, new { @class = "header" })</li>
                                <li>@Html.ActionLink("Cursos", "Produtos", "Home", null, new { @class = "header" })</li>
                                <li>@Html.ActionLink("Palestras", "Produtos", "Home", null, new { @class = "header" })</li>
                            </ul>
                        </li>

                        <li class="active">@Html.ActionLink("Equipe", "Equipe", "Home", null, new { @class = "header" })</li>
                        <li class="active">@Html.ActionLink("Blog", "Blog", "Home", null, new { @class = "header" })</li>
                        <li class="active">@Html.ActionLink("Parceiros", "Parceiros", "Home", null, new { @class = "header" })</li>
                        <li class="active">@Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "header" })</li>
                        <li class="active">@Html.ActionLink("Conteúdo", "Index", "Conteudo", null, new { @class = "header" })</li>

                    </ul>

                    <ul class="nav navbar-nav  navbar-right social">
                        <li class="active">@Html.ActionLink(" Cadastre-se", "Cadastro", "Conta", null, new { @class = "glyphicon glyphicon-user header" })</li>
                        <li class="active">@Html.ActionLink(" Login", "Login", "Conta", null, new { @class = "glyphicon glyphicon-log-in header" })</li>

                    </ul>

                </nav>

            </div>

        </header>

        @RenderBody()

        <footer id="footer" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h4 class="letter-spacing-1">ENDEREÇO</h4>
                        <!-- Contact Address -->
                        <address>
                            <ul class="list-unstyled">
                                <li class="footer-sprite address">
                                    Av. Presidente Juscelino Kubitschek, nº 1726<br>
                                    Conjunto 113, 11º Andar<br>
                                    Itaim Bibi, São Paulo - SP, CEP 04543-000
                                </li>
                                <li class="footer-sprite email">
                                    <a href="mailto:"></a>
                                </li>
                            </ul>
                        </address><!-- /Contact Address -->
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-1 col-sm-4 btnSocialSpace">
                               
                                    <a class="btn btn-x btn-social-icon btn-facebook btnSpace" href="http://facebook.com/corujaedu" target="_blank">
                                        <span class="fa fa-facebook"></span>
                                    </a>

                                
                            </div>
                            <div class="col-md-1 col-sm-4 btnSocialSpace">
                               
                                    <a class="btn btn-xl btn-social-icon btn-tumblr btnSpace" href="http://blog.corujaedu.com.br/" target="_blank">
                                        <span class="fa fa-tumblr"></span>
                                    </a>

                                
                            </div>
                            <div class="col-md-1 col-sm-4 btnSocialSpace">
                                
                                    <a class="btn btn-xl btn-social-icon btn-facebook btnSpace" href="https://www.youtube.com/channel/UCHyUf7MmvkSVWwJBMwSy5jg" style="background-color:#E62117;" target="_blank">
                                        <span class="fa fa-youtube"></span>
                                    </a>
                                
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <h4 class="letter-spacing-1">CONTATOS</h4>
                        <ul class="footer-posts list-unstyled">
                            <li class="footer-sprite phone">
                                Telefone: (11) 3542-7786
                            </li>
                            <li class="footer-sprite">
                                <a href="mailto:contato@corujaedu.com.br?subject=[Fale%20com%20a%20Coruja]&amp;cco=christian@corujaedu.com.br" class="footer">contato@corujaedu.com.br</a>
                                <small></small><!-- /texto para o contato -->
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="social-or-login center">
                    <span>LICENÇAS</span>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 copyright">
                        <p> © 2016 Coruja Educação - Desenvolvido por <a target="_blank" href="https://codely.com.br/" class="footer">Codely Tecnologia</a>.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 copyright">
                        <p class="text-right"> Icons made by <a href="http://www.freepik.com/" title="Freepik" class="footer">Freepik</a> from <a href="http://www.flaticon.com/" title="Flaticon" class="footer">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" class="footer">CC BY 3.0</a></p>
                    </div>
                </div>
            </div>

        </footer>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)


</body>


</html>