@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Conta", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    
            <div class="container-fluid">

                <div class="navbar-header" id="userIdArea">
                   @User.Identity.GetUserName()
                </div>

                <div id ="logOffArea">
                    <ul class="nav navbar-nav">

                        <li id="logOffConta">
                            <a class="dropdown-toggle header glyphicon glyphicon-user" data-toggle="dropdown" href="#"> Perfil<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                
                                <li>@Html.ActionLink("Meus Dados", "Dados", new { area = "", controller = "Conta" }, new { @class = "header" })</li>

                               <li>@Html.ActionLink("Alterar Senha", "AlterarSenha", new { area = "", controller = "Conta" }, new { @class = "header" })</li>
                            </ul>
                        </li>

                        <li id="logOffSair">
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="glyphicon glyphicon-log-out">&nbsp;Sair</a>
                        </li>
                       
                    </ul>
                </div>

            </div>

      


    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="active">@Html.ActionLink(" Cadastre-se", "Cadastro", new { area = "", controller = "Conta" }, new { @class = "glyphicon glyphicon-user" })</li>
        <li class="active">@Html.ActionLink(" Entrar", "Login", new { area = "", controller = "Conta" }, new { @class = "glyphicon glyphicon-log-in" })</li>
    </ul>
}



